name: MSVC Build (x64 Release)

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Add MSVC to PATH
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    - name: Configure (CMake)
      run: >
        cmake -B build
        -DCMAKE_BUILD_TYPE=Release
        -A x64             # <-- generator platform change

    - name: Build (CMake)
      run: cmake --build build --config Release

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: build-x64
        path: build/bin/Release/
