name: MSVC Build (x64 Release)

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup MSVC (x64)
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    - name: Install Ninja
      run: choco install ninja

    - name: Configure (CMake + Ninja)
      run: >
        cmake -B out/build/x64-Release
        -G Ninja
        -DCMAKE_BUILD_TYPE=RelWithDebInfo

    - name: Build
      run: cmake --build out/build/x64-Release

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: x64-Release
        path: out/build/x64-Release
